/*Refer _variable.scss for theme color*/

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dcdcec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a3a0c6;
}

html,
body {
    background-color: #fff;
    color: #1c1471;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0 auto;
}

.divider {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 2px;
    border: 2px solid #3c2294;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*body and its content container*/
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.content {
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
}

.full-height {
    /* height: 100vh; */
}

fieldset {
    border: none;
}

.withMarginVertical {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 90%;
}

header {
    background-color: #110a6a;
    padding: 5px;
    padding-bottom: 0px;
    position: sticky;
}

.navigationItem {
    padding: 15px;
    color: white;
    text-decoration: none;
}

.navigationItem:hover {
    background-color: #00003f;
    text-decoration: none;
    color: white;
}

.navigationItem:active {
    background-color: #4b3399;
}

.active {
    background-color: #4b3399;
}

/*Footer */
footer {
    background-color: #4b3399;
    text-align: center;
    padding: 5px;
    justify-content: center;
}

.footerText {
    color: whitesmoke;
    font-size: 12px;
}

/*Input form*/

.inputform {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form-container {
    border-radius: 15px;
    border: 1px solid #4b3399;
    padding: 15px;
}

.input-container {
    margin: 20px;
    flex-direction: row;
}

.input-container-center {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.input-form-icon {
    padding-right: 15px;
    color: #00003f;
}

.helperText {
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

::placeholder {
    color: lightgray;
}

/*Href link*/
.link {
    color: #1c1471;
    font-weight: bold;
}

.link:hover {
    color: #00003f;
    font-size: 15px;
}

/*Fonts*/
.numofcities {
    color: #4b3399;
    font-size: 18px;
    font-weight: 600;
}

.quote {
    font-size: 18px;
    font-weight: 600;
    color: #1c1471;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: #1c1471;
}

.hashtags {
    font-size: 16px;
    color: #a3a0c6;
}

.caption {
    font-size: 13px;
    color: #a3a0c6;
}

.author {
    font-size: 16px;
    font-weight: bold;
    color: #4b3399;
}

.displayName {
    font-size: 30px;
    font-weight: bold;
    color: #4b3399;
}

.description {
    font-size: 16px;
    color: black;
    font-weight: normal;
    text-align: justify;
}

.suggestHelperText {
    font-size: 13px;
    color: darkgray;
    font-weight: bold;
}

.errorHelperText {
    color: #e3342f;
    font-size: 13px;
    text-align: center;
}

label {
    font-weight: bold;
    color: #4b3399;
    font-size: 20px;
}

/*Icon*/
.icon {
    padding-left: 15px;
    padding-right: 15px;
    color: #1c1471;
    font-size: 20px;
}
/* button */
.btnPrimary {
    border-radius: 15px;
    border: 1px solid #4b3399;
    padding: 10px;
    width: 100px;
    background-color: #1c1471;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.btnPrimary:hover {
    background-color: #4b3399;
}

.btnPrimary:disabled {
    background-color: #dcdcec;
    color: white;
    border: none;
}

.btnWarning {
    border-radius: 15px;
    border: 1px solid red;
    padding: 10px;
    width: 100px;
    background-color: #e3342f;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.btnWarning:hover {
    background-color: red;
}

.btnCancel {
    border: none;
    padding: 10px;
    width: 100px;
    background-color: transparent;
    color: #d9534f;
    font-family: "Nunito", sans-serif;
}

.btnCancel:hover {
    font-weight: 600;
    color: #b32b26;
}

.btnOutlined {
    border-radius: 15px;
    border: 1px solid #4b3399;
    padding: 5px;
    width: 100px;
    background-color: white;
    color: #1c1471;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.btnOutlined:hover {
    font-weight: 600;
}

/* Image Gallery*/
#gallery {
    padding-top: 40px;
}
@media screen and (min-width: 991px) {
    #gallery {
        padding: 30px 30px 0 30px;
    }
}
.img-wrapper {
    position: relative;
    margin-top: 15px;
}
.img-wrapper img {
    width: 100%;
}
.img-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.img-overlay i {
    color: #fff;
    font-size: 3em;
}

.img-title-caption {
    height: 150px;
    background-color: white;
    border: 1px solid #a3a0c6;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Travel gallery Card Info*/
.travelTitle {
    font-size: 20px;
    font-weight: bold;
    color: #1c1471;
    display: block;
    text-align: justify;
}

.travelLocation {
    font-size: 14px;
    color: #3c2294;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: justify;
}

/* .locationCard {
    border-radius: 20px;
    border: 1px solid #3c2294;
    background-color: white;
    padding:10px;
    color:white;
}

.locationCardImage {
    border-radius:25px;
} */
